<!DOCTYPE html>
<html>
  <head>
    <title>My Goals</title>
    <style>
      label {
        display: inline-block;
        width: 80px;
        text-align: right;
        margin-right: 10px;
      }
      input[type="text"] {
        width: 200px;
        margin-bottom: 10px;
      }
      .goal-star {
        margin-right: 5px;
        color: red;
        font-size: 1.5em;
      }
      form {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>My Goals</h1>
    <form>
      <label for="goal1"><span class="goal-star">☆</span></label>
      <input type="text" id="goal1" name="goal1"><br>

      <label for="goal2"><span class="goal-star">☆</span></label>
      <input type="text" id="goal2" name="goal2"><br>

      <label for="goal3"><span class="goal-star">☆</span></label>
      <input type="text" id="goal3" name="goal3"><br>

      <label for="goal4"><span class="goal-star">☆</span></label>
      <input type="text" id="goal4" name="goal4"><br>
    </form>
  </body>
</html>
