<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="stylesheet" href="../views/proto.css">
    <link rel="stylesheet" href="../views/profile.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="settings-list-section flex flex-col border-r-2">
            <article class="profile-corner text-center">
                <img class="block mx-auto" src="https://placehold.co/200x200">
                <h1 class="text-4xl p-4 py-6">Welcome, John Doe</h1>
            </article>
            <article>
                <ul>
                    <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#fitness-info">My Fitness Info</a></li>
                    <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#workouts">Workouts</a></li>
                    <li class="p-5 border-t-2 border-r-0 border-b-2"><a href="#goals">Goals</a></li>
                </ul>
            </article>
            <button class="logout-btn bg-red-500 text-white font-semibold text-xl p-5 m-3 my-auto" type="button">Log Out</button>
        </section>
        <section class="main-window w-100">
            <div class="workouts" id="workouts">
                <hr class="mt-2">
                <h2 class="text-6xl py-4 mb-4">WORKOUTS</h2>
                <div class="workouts-table-box max-h-96 overflow-y-auto w-auto">
                    <table class="table-auto text-3xl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sets / Reps / Time</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="workout-table-body">
                            <tr>
                                <td>Push-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center" onclick="la()"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Sit-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Pull-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Pull-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Pull-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Pull-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                            <tr>
                                <td>Pull-ups</td>
                                <td>3 sets of 5 reps</td>
                                <td class="text-center"><button type="button">❌</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" id="new-workout-btn" class="add-btn mr-3">+ Add Workout</button>
                <button type="button" id="save-workout-btn" class="disabled-btn">Save ✔</button>
            </div>
        </section>
    </main>
    <script src="../public/js/profile.js"></script>
</body>
</html>