<main>
    <aside class="settings-list flex flex-col border-r-2">
        <article class="profile-corner text-center">
            <img class="block mx-auto" src="https://placehold.co/200x200">
            <h1 class="text-4xl p-4 py-6">Welcome,</h1>
        </article>
        <article>
            <ul>
                <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#fitness-info">My Fitness Info</a></li>
                <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#routines">Routines & Workouts</a></li>
                <li class="p-5 border-t-2 border-r-0 border-b-2"><a href="#goals">Goals</a></li>
            </ul>
        </article>
        <button class="logout-btn bg-red-500 text-white font-semibold text-xl p-5 m-3 my-auto" type="button">Log Out</button>
    </aside>
    <section class="main-window w-100">
        <div class="routines" id="routines">
            <hr class="mt-2">
            <h2 class="text-6xl py-4 mb-4">WORKOUTS</h2>
            <div class="routine-workouts hover:overflow-y-auto">
                <table class="table-auto text-3xl">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sets / Reps / Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Push-ups</td>
                            <td>3 sets of 5 reps</td>
                        </tr>
                        <tr>
                            <td>Sit-ups</td>
                            <td>3 sets of 5 reps</td>
                        </tr>
                        <tr>
                            <td>Pull-ups</td>
                            <td>3 sets of 5 reps</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<script src="/js/profile.js"></script>