<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="stylesheet" href="../views/proto.css">
    <title>Document</title>
</head>
<body>
    <main class="flex flex-row">
        <section class="settings-list-section flex flex-col fixed">
            <article class="profile-corner text-center">
                <img class="block px-auto" src="https://placehold.co/200x200">
                <h1 class="text-4xl p-4">John Doe</h1>
            </article>
            <article>
                <ul>
                    <li class="p-5 border-2 border-b-0">Fitness Info</li>
                    <li class="p-5 border-2 border-b-0">Workouts & Routines</li>
                    <li class="p-5 border-2">Goals</li>
                </ul>
            </article>
            <button class="bg-red-500 text-white font-semibold text-xl p-5 m-3" type="button">Log Out</button>
        </section>
        <section class="main-window">
            
        </section>
    </main>
</body>
</html>