<!DOCTYPE html>
<html>
  <head>
    <title>My Goals</title>
    <style>
      label {
        display: inline-block;
        width: 80px;
        text-align: right;
        margin-right: 10px;
      }

      input[type="text"] {
        width: 200px;
        margin-bottom: 10px;
      }

    </style>
  </head>
  <body>
    <h1>My Goals</h1>
    <form>
      <label for="goal1">Goal 1:</label>
      <input type="text" id="goal1" name="goal1"><br>

      <label for="goal2">Goal 2:</label>
      <input type="text" id="goal2" name="goal2"><br>

      <label for="goal3">Goal 3:</label>
      <input type="text" id="goal3" name="goal3"><br>

      <label for="goal4">Goal 4:</label>
      <input type="text" id="goal4" name="goal4"><br>

      <button type="button" onclick="saveGoals()">Save Goals</button>
    </form>

  </body>
</html>
